.header {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #1c1fc9;
  	position: fixed;
  	top: 0;
	z-index: 1;
	width: 100%;
	
}
.nav-content{
	align-items: center;
	display: flex;
	justify-content: left;
	padding-left: 30px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
}

.header p {
	padding-right: 30px;
	align-items: center;
	
}
.header a {
	color: #fff;
	padding-right: 30px;
	text-decoration: none;

}
.selected-language{
	margin-top: 64px;
	font-size: 18px;
	color: #fff;

}
.idioma li{
	list-style: none;
}
.idioma ul{
	visibility: hidden;
	background-color: #1c1fc9;
}
.arrow-down{
	width: 15px;
	height: 15px;
}
.idioma ul li a {
	display: block;
	width: 120px;
	padding: 5px 20px;
}

.idioma ul li a:hover {
	background-color: #000000;
}




